html {
    font-size: 16px;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px 0;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #555;
}

blockquote {
    font-style: italic;
    color: #555;
}
/* Header */

.navbar-light .navbar-nav .nav-link {
    color: #555;
    font-weight: 400;
    font-size: 16px;
}

.navbar-nav .dropdown-menu {
    right:0;
    left: auto;
}

.top-menu a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
    }

.dropdown-menu {
    color: #555;
    font-weight: 400;
    font-size: 16px;
}

.top-menu a:hover::after {
    transform: scale(1);
}

.navbar-nav .form-control {
    font-size: 16px;
    padding-right: 0.75px;
}

.navbar-nav .form-control:focus {
    background: none;
    box-shadow: none;
    border-color: #ced4da;
}

.navbar-nav .btn {
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
    color: #555;
    font-weight: 400;
    font-size: 16px;
    border: 0.5px solid;
}


.navbar-nav .btn:hover {
    background: #EAEDED;
}

/* Header */


/* Footer */

.footer {
    background-color: #343434;
    margin-top: auto;
    height: 60px;
    padding-top: 10px;

}

.footer a, .footer span {
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
    display:  block;
}

.footer a:hover {
    color: #fff;
}

/* Footer */


/* Product card */
.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 20px;
}

.product-width img{
    max-width: 100%;
    max-height: 100%;
}

.product-details h4 a{
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}


.product-details h4 a:hover {
    color: #000000;
}

.product-bottom-details{
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-links {
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.product-links a{
    text-decoration: none;
    transition: all .3s;
    transform: scale(0);
}

.product-links a{
    text-decoration: none;
    marker: none;
}

.product-links a:hover {
    color: #99A3A4;
}
/* Product card */

/* Table */

.table {
    vertical-align: middle;
    text-align: center;
}

.table-dark {
    --bs-table-bg: #343434
}


/* Table */