{% extends 'dvizhenie/base.html' %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <h1 class="display-6 fw-bold mt-2">Контакты</h1>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4">Для связи по всем интересующим вопросам:<br><br>

                Шишкин Егор<br>
                e-mail рабочий: EL_Shishkin@ung.rosneft.ru<br>
                e-mail личный: shishk1998@gmail.com<br>
                телефон: 8(922)515-73-63<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}