{% extends 'dvizhenie/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <p class="lead mt-3">Вы уверены, что хотите удалить буровую установку <a
                    class="link-danger">{{rig.type}}</a> зав.№ <a class="link-danger">{{rig.number}}</a> бурового
                подрядчика <a class="link-danger">{{rig.contractor}}</a></p>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary">Подтвердить удаление</button>
                <a class="btn btn-outline-secondary" href="{% url 'rig' %}" role="button">Назад к списку</a>
            </div>

        </form>
    </div>
</div>


{% endblock %}