{% extends 'dvizhenie/base.html' %}

{% block content %}
<div class="row"><h3>Парк буровых установок (БУ)</h3></div>

<a class="nav-link" href="{% url 'rig_add' %}">Добавить</a>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Тип БУ</th>
                <th>Заводской номер</th>
                <th>Подрядчик</th>
                <th>Тип бурового раствора</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for rig in rigs %}
                <tr>
                    <td>{{rig.type}}</td>
                    <td>{{rig.number}}</td>
                    <td>{{rig.contractor}}</td>
                    <td>{{rig.mud}}</td>
                    <td>{{rig.status}}</td>
                    <td>
                        <div class="button-group">
                            <a href="{% url 'rig_update' rig.id %}">Изменить</a>
                            <a href="{% url 'rig_delete' rig.id %}">Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>

</div>
{% endblock %}