{% extends 'dvizhenie/base.html' %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <h1 class="display-6 fw-bold mt-2">Определение движения буровых установок</h1>
        <p class="lead mb-4">Рейтинг пары <a style="background: #f5f5f5">буровая установка</a> -
                <a style="background: #f0fff0">следующая кустовая площадка.</a></p>
    </div>

    <div class="col-lg-8 mx-auto">
        <div class="row ">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Параметр</th>
                    <th scope="col">С куста {{position_rating.current_position}}</th>
                    <th scope="col">На куст {{position_rating.next_position}}</th>
                    <th scope="col">Рейтинг</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr>
                    <td>Грузоподъемность</td>
                    <td>{{position_rating.current_position.drilling_rig.type}}</td>
                    <td>{{position_rating.next_position.required_capacity}}</td>
                    <td>{{position_rating.capacity_rating}}</td>
                </tr>
                <tr>
                    <td>Окончание бурения</td>
                    <td>{{position_rating.current_position.end_date|date:"d.m.Y"}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>1 этап</td>
                    <td>-</td>
                    <td>{{position_rating.next_position.first_stage_date|date:"d.m.Y"}}</td>
                    <td>{{position_rating.first_stage_date_rating}}</td>
                </tr>
                <tr>
                    <td>2 этап</td>
                    <td>-</td>
                    <td>{{position_rating.next_position.second_stage_date|date:"d.m.Y"}}</td>
                    <td>{{position_rating.second_stage_date_rating}}</td>
                </tr>
                <tr>
                    <td>Буровой раствор</td>
                    <td>{{position_rating.current_position.drilling_rig.mud}}</td>
                    <td>{{position_rating.next_position.required_mud}}</td>
                    <td>{{position_rating.mud_rating}}</td>
                </tr>
                <tr>
                    <td>Логистика</td>
                    <td>{{position_rating.current_position.pad.field}}</td>
                    <td>{{position_rating.next_position.field}}</td>
                    <td>{{position_rating.logistic_rating}}</td>
                </tr>
                <tr>
                    <td>Маркер</td>
                    <td>{{marker}}</td>
                    <td>{{position_rating.next_position.marker}}</td>
                    <td>{{position_rating.marker_rating}}</td>
                </tr>
                <tr>
                    <td>Стратегия</td>
                    <td>{{strategy}}</td>
                    <td>{{position_rating.next_position.field}}</td>
                    <td>{{position_rating.strategy_rating}}</td>
                </tr>
                <tr>
                    <th scope="row">Общий рейтинг</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row">{{position_rating.common_rating}}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}