{% extends 'dvizhenie/base.html' %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <h1 class="display-6 fw-bold mt-2">Расположение буровых установок</h1>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4">Представлен список кустовых площадок, на которых производятся/ранее произведены работы
                по бурнию скважин</p>
            <p class="lead mt-3">Добавление информации в таблицу производится при определении движения</p>
            <p class="lead mt-3"><a href="{% url 'rig_position_add' %}" class="link-secondary">Добавить БУ с мобилизации</a></p>

            <p class="lead mt-3 mb-1">Скорректировать даты окончания бурения:</p>
            <ul>
                <li>по ссылке в таблице</li>
                <li><a class="link-primary" href="{% url 'export_data_rig_positions' %}">экспортом из файла
                    "Движение_БУ"</a></li>
            </ul>
        </div>


        <div class="row">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Тип БУ</th>
                    <th scope="col">зав.№</th>
                    <th scope="col">Подрядчик</th>
                    <th scope="col">Номер куста</th>
                    <th scope="col">Месторождение</th>
                    <th scope="col">Дата начала бурения</th>
                    <th scope="col">Дата окончания бурения</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for rig_position in rig_positions %}
                <tr>
                    <td>{{rig_position.drilling_rig.type}}</td>
                    <td>{{rig_position.drilling_rig.number}}</td>
                    <td>{{rig_position.drilling_rig.contractor}}</td>
                    <td>{{rig_position.pad.number}}</td>
                    <td>{{rig_position.pad.field}}</td>
                    <th scope="col">{{rig_position.start_date|date:"d.m.Y"}}</th>
                    <th scope="col">{{rig_position.end_date|date:"d.m.Y"}}</th>
                    <td>
                        <div class="button-group">
                            {% if perms.dvizhenie.change_rigposition %}
                            <a href="{% url 'rig_position_update' rig_position.id %}"
                               class="link-secondary">Изменить</a>
                            <a href="{% url 'rig_position_delete' rig_position.id %}" class="link-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}