{% extends 'dvizhenie/base.html' %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <h1 class="display-6 fw-bold mt-2">О приложении</h1>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4">

                Приложение создано для автоматизации и повышения эффективности процесса определения движения буровых
                установок в ООО "РН-Юганскнефтегаз".<br>
                Поводом для создания послужили увеличившиеся требования к процессу (частота обновления, горизион
                планирования) и рост парка буровых установок в ООО "РН-Юганскнефтегаз".<br><br>

                Алгоритм определения движения основан на сравнении параметров буровой установки и кустовой площадки с
                последующим определением наиболее подходящего варианта.<br>
                При расчете сравниваются следующие параметры: грузоподъемность, готовность, тип бурового раствора,
                технические особенности буровых установок, организационные аспекты, логистика.<br><br>

                Алгоритм может быть транслирован в любом дочернем Обществе ПАО "НК "Роснефть" на планирование движения
                буровых установок (в том числе мобильных), подъемников ТКРС, флотов ГРП, флотов ГНКТ.
            </p>

        </div>
    </div>
</div>
{% endblock %}