{% extends 'dvizhenie/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <p class="lead mt-3"> Актуализация даты окончания буровых работ на кустовой площадке
                {{rig_position.pad.number}} {{rig_position.pad.field}}</p>
            {{ form|crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary">Подтвердить</button>
                <a class="btn btn-outline-secondary" href="{% url 'rig_position' %}" role="button">Назад к списку</a>
            </div>

        </form>
    </div>
</div>


{% endblock %}
