{% extends 'dvizhenie/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-3 py-1">
    <div class="row">
        <h1 class="display-6 fw-bold mt-2 mb-5">Экспорт данных по окончанию бурения из excel-таблицы "Движение_БУ"</h1>
        {% if error_message %}
        <p class="lead mb-4"> {{ error_message }} <a class="link-danger">{{ error_rig_position }}</a>. Скорректируйте данные
            в файле "Движение_БУ" и обновите файл на сервере.</p>
        <div class="d-grid gap-2">
            <a class="btn btn-secondary" href="{% url 'upload_file' %}" role="button">Обновить файл</a>
            <a class="btn btn-outline-secondary" href="{% url 'export_data_rig_positions' %}" role="button">Назад к
                форме</a>
        </div>
        {% else %}
        {% if file_creation_date %}
        <p class="lead mb-4">На сервер загружен файл "Движение_БУ" <a class="link-primary">{{ file_creation_date }}</a>.
        </p>
        <p class="lead mb-4">Можете <a class="link-secondary" href="{% url 'upload_file' %}">обновить файл</a></p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary">Подтвердить</button>
                <a class="btn btn-outline-secondary" href="{% url 'rig_position' %}" role="button">Назад к списку</a>
            </div>
        </form>
        {% else %}
        <p class="lead mb-4">На сервер не загружен файл "Движение_БУ"</p>
        <p class="lead mb-4">Для экспорта данных необходимо <a class="link-secondary" href="{% url 'upload_file' %}">загрузить
            файл</a></p>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}